[submodule "mods/hotbar_switching"]
	path = mods/hotbar_switching
	url = https://github.com/TheEt1234/hotbar_switching
[submodule "luanti_lsp_definitions"]
	path = luanti_lsp_definitions
	url = https://github.com/corpserot/luanti_lsp_definitions/
